* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141213;
}

.search__block {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search__text {
  font-size: 36px;
  font-weight: 600;
  color: #f20000;
}
